.navbar .menu__wrap .menu__item .nav-link .nav-arrow-down::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.navbar .menu__wrap .menu__item .nav-link .nav-arrow-down {
    border: transparent;
    background-color: transparent;
}
.navbar .menu__wrap .menu__item .nav-link .nav-arrow-down:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}
.dropdown-toggle::after {
    display: none !important;
}
